/* Style For Nav */

.hidden {
    display: none;
}

.header {
    width: 100%;
    height: auto;
}

.header .navbar {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 1rem 4rem;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
}

.fixed-navbar{
    background-color: #0F0D1F;
    z-index: 99999999 !important;
    transition: 0.5s all ease;
}

.header .navbar .brand {
    height: auto;
    max-width: 30px;
}

.header .navbar .menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
}

.header .navbar .menu-item:not(:first-child) {
    margin-left: 2rem;
}

.header .navbar .menu-item {
    font-size: 0.9rem;
    line-height: inherit;
    color: white;
    text-transform: capitalize;
    position: relative;
    height: auto;
    border-radius: 6px;
    padding: 5px 10px;
    overflow: hidden;
}

.header .navbar .menu-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: inherit;
    z-index: 1;
}

.header .navbar .menu-item:hover::before,
.header .navbar .menu-item-active::before {
    opacity: 1;
}

.header .navbar .menu-item>* {
    position: relative;
    z-index: 2;
}

/* Media Rules */

@media only screen and (max-width: 768px) {
    .header .navbar {
        padding: 1rem 2rem;
        margin: 0 auto;
    }

    .header .navbar .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        background: #020013;
        transition: all 0.3s ease;
    }

    .header .navbar .wrapper .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30%;
        width: 100%;
        transform: translateY(-50%);
    }

    .header .navbar .wrapper .menu-item {
        padding-bottom: 1rem;
        width: 100%;
        text-align: left;
    }

    .header .navbar .wrapper .menu-item:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .header .navbar .wrapper .menu-item:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .header .navbar .wrapper .menu-item:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .header .navbar .wrapper .menu-item:nth-child(4) a {
        transition-delay: 0.5s;
    }

    .header .navbar .wrapper .menu-item:not(:first-child) {
        margin-left: 0;
    }

    .header .navbar .wrapper .menu-item a {
        padding: 1rem 2rem;
        opacity: 0;
        color: #252a32;
        font-size: 1rem;
        font-weight: 600;
        transform: translateX(-20px);
        transition: all 0.3s ease-in-out;
    }

    .header .navbar .nav-toggle {
        display: block;
        position: fixed;
        right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        z-index: 999;
    }

    .header .navbar .nav-toggle span {
        display: block;
        width: 20px;
        height: 2px;
        background: #b3b0b0 !important;
        border-radius: 2px;
        margin-left: 14px;
    }

    .header .navbar .nav-toggle span:nth-child(1) {
        margin-top: 16px;
    }

    .header .navbar .nav-toggle span:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .header .navbar .nav-toggle span:nth-child(3) {
        margin-top: 4px;
    }

    .header .navbar #nav:checked+.nav-toggle {
        transform: rotate(45deg);
    }

    .header .navbar #nav:checked+.nav-toggle span {
        background: #252a32;
        transition: transform 0.5s ease;
    }

    .header .navbar #nav:checked+.nav-toggle span:nth-child(1) {
        transform: translateY(6px) rotate(180deg);
    }

    .header .navbar #nav:checked+.nav-toggle span:nth-child(2) {
        opacity: 0;
    }

    .header .navbar #nav:checked+.nav-toggle span:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
    }

    .header .navbar #nav:checked~.wrapper {
        z-index: 99;
        opacity: 1;
    }

    .header .navbar #nav:checked~.wrapper .menu-item a {
        opacity: 1;
        transform: translateX(0);
        color: #b3b0b0 !important;
    }
}